<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    {% include "partial/header.html" %}
</head><!--/head-->

<body>

    {% include "partial/navbar.html" %}

    <section id="about-us">
        <div class="container">
			<div class="center wow fadeInDown">
				<h2>Movement</h2>
				<p class="lead">Here you can control the movements of your robot</p>
			</div>
        </div>
    </section><!--/#bottom-->

    {% include "partial/footer.html" %}

    {% include "partial/scripts.html" %}
</body>
</html>